<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Streaming Speech</title>
  </head>

  <body>
    <h1 align="center"> Record Audio </h1>

    <p align="center">Please click on the "<i>{{record_button_value}}</i>" button and say <b>{{recording_text}}</b> to record audio for calibrating voice conversion.</p>

    <form align="center" method="POST">
        <div style="text-align:center">  
            <input type="submit" name="{{submit_button_name}}" value="{{record_button_value}}">  
        </div>
    </form>

    <div style="text-align:center">  
    <span align="center"><p>{{recording_status}}</p></span>

    {% if play_recorded %}
        <form align="center" method="POST">
            <div style="text-align:center">  
                <input type="submit" name="{{submit_button_name}}" value="{{play_button_value}}">
            </div>
        </form>

        <p align="center">When done with recording source audio, tune and proceed with either of the two functions for voice conversion - <i>"change_gender"</i> or <i>"change_pitch"</i>.</p>

        <p align="center">Tune and proceed with <i>"change_pitch"</i> function</p>
        <p align="center"><a href=change_pitch ><button class=grey> change_pitch </button></a></p>

        <p align="center">OR</p>

        <p align="center">Tune and proceed with <i>"change_gender"</i> function</p>
        <p align="center"><a href=change_gender ><button class=grey> change_gender </button></a></p>

    {% endif %}
    </div>
  </body>
</html>
